@import '/src/mixins.scss';
@import '/src/variable.scss';
.mobi {
  @include flexCol;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  @include desktop {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  &__content {
    height: 172px;
    max-width: 544px;
    @include flexCol;
    row-gap: 16px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 24px 12px;
    @include tablet {
      padding: 28px 86px 48px;
      height: 210px;
      max-width: 768px;
    }
    @include desktop {
      width: 280px;
      height: 260px;
      padding: 29px 49px 68px 57px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    &-img {
      display: block;
      width: 44px;
      height: 44px;
      @include tablet {
        width: 50px;
        height: 50px;
      }
    }

    &-title {
      @include fontParams(14px, 13px, 500, $title_color);
      text-align: center;
      @include tablet {
        @include fontParams(16px, 26px, 500, $title_color);
      }

    }

    &-desc {
      @include fontParams(10px, 14px, 500, $title_color);
      text-align: center;
      @include tablet {
        @include fontParams(11px, 16px, 500, $title_color);
      }
    }
  }
}