<div class="header">
  <section class="header__wrapper">
    <section [ngClass]="!isOpen ? 'header__controls' : 'header__controls-close'">
      <a routerLink="/" class="header__logo header-controls__logo"></a>
      <button [ngClass]="!isOpen ? 'header__btn' : 'header__btn-close'" (click)="open()"></button>
    </section>
    <section class="header__controls__tabs">
      <!-- <div class="header__controls__tabs__download">
        <h4 class="header__controls__tabs__download__title">Download App</h4>
        <div class="header__controls__tabs__dropDown">
          <a routerLink="/" class="header__controls__tabs__dropDown__options">Android App</a>
          <a routerLink="/" class="header__controls__tabs__dropDown__options">iOS App</a>

        </div>

      </div> -->
      <section class="header__controls__tabs__products">
        <a routerLink="/products" class="header__controls__tabs__products__title">Products</a>
        <div class="header__controls__tabs__dropDown">
          <a routerLink="/products" fragment="Refurbished_smartphones"
            class="header__controls__tabs__dropDown__options">Refurbished Smartphones</a>
          <a routerLink="/products" fragment="spare-parts" class="header__controls__tabs__dropDown__options">Spare
            parts</a>

        </div>
      </section>
      <section class="header__controls__tabs__products">
        <a routerLink="/solutions" class="header__controls__tabs__products__title">Solutions</a>
        <div class="header__controls__tabs__dropDown">
          <a routerLink="/solutions" fragment="diagnosticTool"
            class="header__controls__tabs__dropDown__options">Diagnostic Tool</a>
          <a routerLink="/solutions" fragment="decision" class="header__controls__tabs__dropDown__options">Decision
            making engine</a>
          <a routerLink="/solutions" fragment="optimize" class="header__controls__tabs__dropDown__options">Refurbishment
            optimization</a>

        </div>
      </section>
      <section class="header__controls__tabs__products">
        <h4 class="header__controls__tabs__products__title">Company<span
            class="header__controls__tabs__products__title__arrow"></span></h4>
        <div class="header__controls__tabs__dropDown">
          <a routerLink="/aboutUs" class="header__controls__tabs__dropDown__options">About us</a>
          <a routerLink="/contactUs" class="header__controls__tabs__dropDown__options">Contact us</a>
          <a routerLink="/blogs" class="header__controls__tabs__dropDown__options">Our blogs</a>
          <a routerLink="/policies" class="header__controls__tabs__dropDown__options">Our Policies</a>

        </div>
      </section>
      <a href="tel:+91-9999123511" class="header__controls__tabs__call">+91-9999123511</a>

    </section>
  </section>

  <section [ngClass]="isOpen ? 'header__menu' : 'header__menu-close'" (click)="closeMenu()">
    <section class="header__controls">
      <a routerLink="/" class="header__logo"></a>
      <button class="header__btn" [ngClass]="{'header__btn-close': isOpen }" (click)="open()"></button>
    </section>
    <section class="header__container">
      <section class="header__content">
        <a routerLink="/products" class="header__content-title">Products</a>
        <nav class="header__content-subMenu">
          <a routerLink="/products" fragment="Refurbished_smartphones" class="header__content-link">Refurbished
            Smartphones</a>
          <a routerLink="/products" fragment="spare-parts" class="header__content-link">Spare parts</a>
        </nav>
        <div class="header__content__menu-divider"></div>
      </section>
      <section class="header__content">
        <a routerLink="/solutions" class="header__content-title">Solutions</a>
        <nav class="header__content-subMenu">
          <a routerLink="/solutions" fragment="diagnosticTool" class="header__content-link">Diagnostic tool</a>
          <a routerLink="/solutions" fragment="decision" class="header__content-link">Decision making engine</a>
          <a routerLink="/solutions" fragment="optimize" class="header__content-link">Refurbishment optimization</a>
        </nav>
        <div class="header__content__menu-divider"></div>
      </section>
      <section class="header__content">
        <nav class="header__content-subMenu">
          <a routerLink="/aboutUs" class="header__content-link">About us</a>
          <a routerLink="/contactUs" class="header__content-link">Contact us</a>
          <a routerLink="/blogs" class="header__content-link">Our blogs</a>
          <a routerLink="/policies" class="header__content-link">Our Policies</a>
        </nav>
      </section>

    </section>

    <a href="tel:+91-9999123511" class="header__call">
      <span class="header__call-img"></span>Call Us</a>

  </section>
</div>