@import '/src/mixins.scss';
@import '/src/variable.scss';
.values {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, auto));
  grid-gap: 12px 16px;
  @include tablet {
    grid-template-columns: repeat(3, minmax(auto, auto));

  }


  &__content {
    min-width: 140px;
    max-width: 320px;
    @include flexCol;
    row-gap: 10px;
    align-items: center;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 16px 20px 20px;

    &-img {
      display: block;
      width: 46px;
      height: 46px;
      padding: 4px;
      @include tablet {
        width: 52px;
        height: 52px;
      }


    }

    &-desc {
      @include fontParams(12px, 14px, 500, $title_color);
      text-align: center;
    }
  }
}