@import '/src/mixins.scss';
@import '/src/variable.scss';


.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__slider {
  position: relative;
  width: 271px;
  height: 226px;
  overflow: hidden;

  @include tablet {
    width: 396px;
    height: 214px;
  }

  @include desktop {
    width: 880px;
    height: 300px;
  }
}

.feedback__slider__inner {
  display: flex;
  position: absolute;
  width: 300%;
  transition: transform 0.5s ease-in-out;

  @include desktop {
    width: 100%;
    column-gap: 20px;
  }
}

.feedback__slider__inner__slide {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  padding: 24px 20px 36px;

  @include tablet {
    padding: 24px 32px 36px;

  }

  @include desktop {
    width: 100%;
  }
}

.feedback__slider__inner__slide__info {
  display: flex;
  column-gap: 16px;
}

.feedback__slider__inner__slide__img {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.feedback__slider__inner__slide__head {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
}

.feedback__slider__inner__slide__head-title {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  color: #272727;

  @include tablet {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #272727;
  }
}

.feedback__slider__inner__slide__head-desc {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  align-items: center;
  color: #272727;


}

.feedback__slider__inner__slide__desc {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  align-items: center;
  color: #272727;

  @include tablet {
    font-size: 11px;
  }

  @include desktop {
    font-size: 12px;
    line-height: 160%;
  }
}

.feedback__controls {
  display: flex;
  justify-content: center;

  @include desktop {
    display: none;
  }

  &__left {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/home/mob/left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-600%, -500%);

    @include tablet {
      width: 32px;
      height: 32px;
      background-image: url(../../../assets/home/tab/left.png);
      transform: translate(-640%, -400%);

    }

    @include desktop {
      width: 36px;
      height: 36px;
      background-image: url(../../../assets/home/desk/left.png);
      transform: translate(-1244%, -500%);

    }
  }

  &__right {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/home/mob/right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(600%, -500%);

    @include tablet {
      width: 32px;
      height: 32px;
      background-image: url(../../../assets/home/tab/right.png);
      transform: translate(640%, -400%);

    }


    @include desktop {
      width: 36px;
      height: 36px;
      background-image: url(../../../assets/home/desk/right.png);
      transform: translate(-1244%, -500%);

    }
  }

}