<div class="feedback">
  <div class="feedback__slider">
    <div class="feedback__slider__inner" [ngStyle]="{'transform': 'translateX(' + transformValue + ')'}">
      <div class="feedback__slider__inner__slide" *ngFor="let feedback of feedbacks; let i = index">
        <div class="feedback__slider__inner__slide__info">
          <img [src]="feedback.imgUrl" [alt]="feedback.title" class="feedback__slider__inner__slide__img">
          <div class="feedback__slider__inner__slide__head">
            <h4 class="feedback__slider__inner__slide__head-title">{{feedback.title}}</h4>
            <h5 class="feedback__slider__inner__slide__head-desc">{{feedback.subtitle}}</h5>
          </div>
        </div>
        <p class="feedback__slider__inner__slide__desc">
          {{feedback.desc}}
        </p>
      </div>
    </div>
  </div>

  <div class="feedback__controls">
    <button class="feedback__controls__left" (click)="moveSlider('left')"></button>
    <button class="feedback__controls__right" (click)="moveSlider('right')"></button>
  </div>
</div>