<div class="slider">
  <div class="slider__head">
    <h2 class="slider__head-desc">Get Started in 3 Easy Steps</h2>
  </div>
  <div class="slider__slide" *ngFor="let partner of partners; let i = index"
    [ngClass]="{'slider__slide-active' : i===currentSlide}">
    <img [src]="partner.imgUrl" alt="image" class="slider__img">
    <p class="slider__desc">{{partner.desc}}</p>
  </div>
  <div class="slider__slide__tablet">
    <div class="slider__slide__tablet__content" *ngFor="let partner of partners; let i = index">
      <div class="slider__slide__tablet__content-info">
        <img [src]="partner.imgUrl" alt="image" class="slider__slide__tablet__img">
        <p class="slider__slide__tablet__desc">{{partner.desc}}</p>

      </div>
      <img *ngIf="i !== partners.length - 1" src="../../../assets/steps-arrow.png" alt="">

    </div>

  </div>

  <div class="slider__dots" *ngIf="indicators">
    <span class="slider__dot" *ngFor="let dot of partners; let i = index"
      [ngClass]="{'slider__dot-active' : i===currentSlide }" (click)="goToSlide(i)"> </span>

  </div>
  <div class="slider__controls" *ngIf="controls">
    <button class="slider__btns slider__btns-prev" (click)="onNext()"></button>
    <button class="slider__btns slider__btns-next" (click)=" onPrev()"></button>

  </div>



</div>
