<div class="contact">
  <div class="contact__content" *ngFor="let contact of contacts">
    <div class="contact__content__info">
      <img [src]="contact.imgUrl" alt="" class="contact__content__info__img">
      <h4 class="contact__content__info-title">{{contact.title}}</h4>
  
    </div>
    <div class="contact__content__info">
      <p class="contact__content__info-desc">{{contact.desc}}</p>
      <a [href]="contact.link" class="contact__content__info-btn">{{contact.btnText}}</a>
    </div>
  </div>

</div>
