@import '/src/variable.scss';
@import '/src/mixins.scss';

.aboutUs {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  justify-content: center;
  padding-top: 44px;
  padding-bottom: 80px;

  @include tablet {
    padding-top: 52px;
    padding-bottom: 140px;
    row-gap: 52px;

  }

  @include desktop {
    padding-bottom: 160px;

  }

  &>div:not(:nth-child(6)):not(:last-child) {
    padding-left: 16px;
    padding-right: 16px;

    @include tablet {
      padding-left: 56px;
      padding-right: 56px;
    }
  }

  &__landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__offerings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__intro {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      padding-bottom: 28px;

      @include tablet {
        padding-bottom: 36px;
        row-gap: 30px;
      }

      @include desktop {
        padding-bottom: 60px;
        row-gap: 48px;
      }

    }

    &__content {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      justify-content: center;
      align-items: center;

      @include tablet {
        row-gap: 24px;
      }

      @include desktop {
        row-gap: 40px;
      }


      &__head {
        background: #F9F9F9;
        padding: 28px 18px;

        @include tablet {
          width: 100%;
          padding: 32px 60px;
        }

        @include desktop {
          padding: 52px 24px;
        }

        &-title {
          font-family: 'Poppins', serif;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          color: #2F3567;

          @include desktop {
            font-size: 26px;
          }

        }

        &-desc {
          padding: 0 18px;
          font-family: 'Poppins', serif;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          text-align: justify;
          color: rgba(39, 39, 39, 0.75);

          @include tablet {
            padding: 0 56px;
            font-size: 14px;
            line-height: 160%;
          }

          @include desktop {
            padding: 0 76px;
            font-size: 16px;

          }

        }
      }
    }

    &-btn {
      font-family: 'Poppins', serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 15px;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      padding: 16px 40px;
      color: #FF6F3F;

      @include tablet {
        font-size: 18px;
        line-height: 27px;
        padding: 16px 44px;

      }

      @include desktop {
        padding: 16px 54px;
      }
    }

  }

  &__vision {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mission {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__culture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 28px;
    background: #F9F9F9;
    padding: 28px 0 64px;

    @include tablet {
      row-gap: 40px;
    }

    @include desktop {
      row-gap: 56px;
    }

    &__head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;

      @include tablet {
        row-gap: 28px;
      }

      &-title {
        font-family: 'Poppins', serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        color: #FF6F3F;

        @include desktop {
          font-size: 16px;
          line-height: 32px;

        }

      }

      &-desc {
        font-family: 'Poppins', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #2F3567;

        @include tablet {
          font-size: 28px;
          line-height: 42px;
        }

        @include desktop {
          font-size: 32px;
          line-height: 48px;
        }


      }

    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__partners {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow: hidden;

    @include tablet {
      row-gap: 48px;
    }

    @include desktop {
      row-gap: 68px;
    }

    &__head {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: center;
      align-items: center;

      @include tablet {
        row-gap: 24px;

      }

      @include desktop {
        row-gap: 28px;
      }

      &-title {
        font-family: 'Poppins', serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        color: #FF6F3F;

        @include desktop {
          font-size: 16px;
        }

      }

      &-desc {
        font-family: 'Poppins', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #2F3567;
        padding: 0 20px;

        @include tablet {
          font-size: 28px;
          line-height: 42px;
        }

        @include desktop {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }
  }
}