@import '/src/mixins.scss';
@import '/src/variable.scss';

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media__slider {
  position: relative;
  width: 277px;
  height: 268px;
  overflow: hidden;

  @include tablet {
    width: 632px;
    height: 300px;
  }

  @include desktop {
    width: 820px;
  }
}

.media__slider__inner {
  display: flex;
  position: absolute;
  width: 800%;
  transition: transform 0.5s ease-in-out;

  @include tablet {
    width: 400%;
  }

}

.media__slider__inner__slide {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  padding: 31px 20px 20px;

  @include tablet {
    width: 25%;
    padding: 39px 20px 24px;
    margin-right: 20px;

  }

  @include desktop {
    width: 25%;
    padding: 39px 20px 24px;

  }
}


.media__slider__inner__slide__head {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  justify-content: center;
  align-items: center;
}

.media__slider__inner__slide__img {
  display: block;
  width: 127px;
  height: 58px;

  @include tablet {
    width: 182px;
    height: 72px;

  }

}


.media__slider__inner__slide__desc {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  color: #272727;
  text-align: justify;

  @include tablet {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 160%;
    text-align: justify;
    color: #272727;
  }

  @include desktop {
    font-size: 12px;
  }
}

.media__slider__inner__slide__link {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #FF6F3F;

  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}

.media__controls {
  display: flex;
  justify-content: center;

  &__left {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/home/mob/left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-600%, -600%);
    cursor: pointer;

    @include tablet {
      width: 32px;
      height: 32px;
      background-image: url(../../../assets/home/tab/left.png);
      transform: translate(-1024%, -600%);

    }

    @include desktop {
      width: 36px;
      height: 36px;
      background-image: url(../../../assets/home/desk/left.png);
      transform: translate(-1204%, -600%);

    }
  }

  &__right {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/home/mob/right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(600%, -600%);
    cursor: pointer;


    @include tablet {
      width: 32px;
      height: 32px;
      background-image: url(../../../assets/home/tab/right.png);
      transform: translate(956%, -600%);

    }


    @include desktop {
      width: 36px;
      height: 36px;
      background-image: url(../../../assets/home/desk/right.png);
      transform: translate(956%, -600%);

    }
  }

}