<div class="otp">
  <div class="otp__head">
    <h4 class="otp__title">Enter OTP</h4>
    <p class="otp__msg">Enter the OTP sent to +91-{{mobileNumber}}</p>
  </div>
  <div class="otp__box">
    <form [formGroup]="otpForm" (ngSubmit)="onVerify()" class="otp__box__form">
      <div class="otp__box__form__content" formArrayName="otp">
        <label for="otp0" class="otp__box__form__label">
          <input type="text" class="otp__box__form__input" maxlength="1" formControlName="0" id="otp0" (keyup)="onDigitKeyUp($event, 1)">
        </label>
        <label for="otp1" class="otp__box__form__label">
          <input type="text" class="otp__box__form__input" maxlength="1" formControlName="1" id="otp1" (keyup)="onDigitKeyUp($event, 2)">
        </label>
        <label for="otp2" class="otp__box__form__label">
          <input type="text" class="otp__box__form__input" maxlength="1" formControlName="2" id="otp2" (keyup)="onDigitKeyUp($event, 3)">
        </label>
        <label for="otp3" class="otp__box__form__label">
          <input type="text" class="otp__box__form__input" maxlength="1" formControlName="3" id="otp3" (keyup)="onDigitKeyUp($event, 4)">
        </label>

      </div>
      <div class="otp__box__form__resend">
        <p class="otp__box__form__resend-desc">
          Didn’t received OTP?
        </p>
        <a class="otp__box__form__resend-btn" (click)="onResend()">Resend</a>
      </div>




      <button type="submit" class="otp__box__form-btn" [ngClass]="{'otp__box__form-btn-active': otpForm.valid}"
        [disabled]="otpForm.invalid">Verify</button>



    </form>
    <a routerLink="/mobile-request" class="otp__btn">Back</a>

  </div>

</div>