@import '/src/variable.scss';
@import '/src/mixins.scss'; 
.offerings {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  align-items: center;

  &__content {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 28px 22px;

  }

  &__slide {
    display: none;

    &>p {
      font-family: 'Poppins', serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #2F3567;
      @include tablet {
        font-size: 18px;
        line-height: 27px;
      }
      @include desktop {
        font-size: 24px;
        line-height: 36px;

      }
    }

    &-active {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      @include tablet {
        width: 600px;

      }
      @include desktop {
        width: 800px;

      }
    }

  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFD9CC;
    cursor: pointer;
    &-active {
      background: #FF6F3F;
    }

  }


}