<div class="solutions">
  <div class="solutions__head">
    <app-title [titles]="titles"></app-title>
  </div>
  <div class="solutions__diagnostic" id="diagnosticTool">
    <app-diagnostic [diagnostics]="diagnostics"></app-diagnostic>
  </div>
  <div class="solutions__decision" id="decision">
    <app-decision [decisions]="decisions"></app-decision>
  </div>
  <div class="solutions__optimize" id="optimize">
    <app-optimize [optimizations]="optimizations"></app-optimize>
  </div>

  <div class="solutions__liquidate">
    <app-liquid [liquids]="liquids"></app-liquid>
  </div>
</div>