@import '/src/variable.scss';
@import '/src/mixins.scss';

.slider {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  animation: slide 20s linear infinite;

  @include tablet {
    column-gap: 16px;
  }

  @include desktop {
    column-gap: 20px;
  }

  &__slide {
    &-img {
      display: block;
      width: 113px;
      height: 42px;
      object-fit: cover;
      @include tablet {
        width: 162px;
        height: 62px;
      }
      @include desktop {
        width: 172px;
        height: 64px;
      }
    }
  }
}


@keyframes slide {
  0% {
    transform: translateX(60%);
  }

  100% {
    transform: translateX(-60%);
  }
}