<div class="products">
  <div class="products__head">
    <app-intro [heads]="heads"></app-intro>
  </div>
  <div class="products__inspection" id="Refurbished_smartphones">
    <app-inspection [tests]="tests"></app-inspection>
  </div>
  <div class="products__brands">
    <div class="products__brands__head">
      <h4 class="products__brands__head-title">Explore our brand selection</h4>
      <p class="products__brands__head-desc">Pick out the refurbished phone you love from a wide range of popular brands
        that we offer.</p>
    </div>
    <div class="products__brands__carousel">
      <app-brands [brands]="brands"></app-brands>
    </div>
  </div>
  <div class="products__inventory" id="inventoryType">
    <div class="products__inventory__head">
      <h4 class="products__inventory__head-title">Inventory type</h4>
      <p class="products__inventory__head-desc">Pick We have a wide-ranging inventory of pre-owned and<br
          class="products__inventory__head-desc"> refurbished phones sourced from all
        kinds of customer exchanges</p>
    </div>
    <div class="products__inventory__content">
      <app-inventories [inventories]="inventories"></app-inventories>
    </div>
  </div>
  <div class="products__callUs">
    <div class="products__callUs__content">
      <h3 class="products__callUs__title">Call us today to get the best models at the<br
          class="products__callUs__title__break"> most affordable prices!</h3>
      <a href="tel: +91 9999123511" class="products__callUs__link">Call us</a>

    </div>


  </div>
  <div class="products__spareParts" id="spare-parts">
    <app-spare-parts [spareParts]="spareParts"></app-spare-parts>
  </div>
  <div class="products__spareType">
    <div class="products__spareType__head">
      <h3 class="products__spareType__head__title">Type of Spare parts</h3>
      <p class="products__spareType__head__desc">We offer more than 30+ spare parts</p>
    </div>
    <div class="products__spareType__content">
      <app-spare-types [spareTypes]="spareTypes"></app-spare-types>
    </div>

  </div>
</div>