@import '/src/mixins.scss';
@import '/src/variable.scss';

.mobile {
  @include flexCol;
  row-gap: 28px;
  justify-content: center;
  align-items: center;
  padding: 36px 16px;

  @include tablet {
    padding: 44px 112px;
  }

  &__head {
    @include flexCol;
    row-gap: 24px;

    @include tablet {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    @include fontParams(22px, 33px, 600, $title_color);

    @include tablet {
      @include fontParams(22px, 36px, 600, $title_color);

    }
  }

  &__desc {
    @include fontParams(14px, 21px, 400, rgba(47, 53, 103, 0.75));

    @include tablet {
      @include fontParams(16px, 24px, 400, rgba(47, 53, 103, 0.75));

    }
  }

  &__form {
    @include flexCol;
    row-gap: 36px;

    &-label {
      position: relative;
      width: 100%;
    }

    &-alert {
      display: none;
    }

    &-input {
      width: 100%;
      @include fontParams(14px, 21px, 400, #27272799);
      letter-spacing: 1px;
      background: #FFFFFF;
      border: 1px solid rgba(39, 39, 39, 0.25);
      border-radius: 4px;
      padding: 20px 80px 20px 56px;
      outline: none;
      &::placeholder {
        @include fontParams(14px, 21px, 400, #27272740);

      }
      &.ng-invalid.ng-touched {
        background: #FFECEC;
        border: 1px solid #F24E1E;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
        border-radius: 4px;

        &::placeholder {
          color: rgba(242, 78, 30, 0.25);
        }

        &+.mobile__form-alert {
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          bottom: 36%;
          right: 5%;
          background-image: url(../../assets/alert.png);
          @include bckgrndImg;
          cursor: none;

        }
      }
    }

    &-span {
      @include fontParams(14px, 21px, 400, $title_color);
      position: absolute;
      left: 5%;
      bottom: 34%;
      @include flexRow;
    }

    &__btn {
      @include flexRow;
      @include fontParams(16px, 14px, 600, $white);
      justify-content: center;
      background: $btn_secondary;
      border-radius: 5px;
      padding: 19px 0;
      cursor: none;

      @include tablet {
        @include fontParams(18px, 27px, 600, $white);

      }

      &-active {
        cursor: pointer;
        background: $btn_primary;

      }

    }
  }

  &__btn {
    @include fontParams(16px, 24px, 600, $btn_primary);
    @include flexRow;

    @include tablet {
      @include fontParams(18px, 27px, 600, $btn_primary);

    }
  }
}