<div class="mobile" appScrollUp>
  <div class="mobile__head">
    <h4 class="mobile__title">Enter Mobile Number</h4>
    <p class="mobile__desc">OTP will be shared on this number to verify</p>
  </div>
  <form class="mobile__form" [formGroup]="mobileForm" (ngSubmit)="onSubmit(mobileForm)">
    <label for="mobileNumber" class="mobile__form-label">
      <span class="mobile__form-span">+91</span>
      <input type="text" class="mobile__form-input" placeholder="Mobile number" formControlName="phone"
        id="mobileNumber" maxlength="10" min="10" (keypress)="onlyNums($event)">
      <span class="mobile__form-alert"></span>

    </label>
    <button type="submit" class="mobile__form__btn" [ngClass]="{'mobile__form__btn-active' : mobileForm.valid}">Get
      OTP</button>
  </form>
  <a routerLink="/" class="mobile__btn">Back</a>

</div>