@import '/src/mixins.scss';
@import '/src/variable.scss';

.head {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    column-gap: 80px;

  }

  @include desktop {
    column-gap: 152px;

  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    justify-content: center;
    align-items: center;

    @include tablet {
      align-items: flex-start;
    }

    &__info {
      display: inline-flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: center;
      align-items: center;

      @include tablet {
        row-gap: 24px;
        align-items: flex-start;
      }

      @include desktop {
        row-gap: 30px;
      }

      &__title {
        display: inline-flex;
        font-family: 'Poppins', serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        color: #2F3567;

        @include tablet {
          font-size: 32px;
          text-align: left;
        }

        @include desktop {
          font-size: 36px;
        }
      }

      &__desc {
        font-family: 'Poppins', serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        text-align: center;
        color: rgba(39, 39, 39, 0.9);

        @include tablet {
          font-size: 14px;
          text-align: left;
        }

        @include desktop {
          font-size: 16px;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FF6F3F;
      border-radius: 4px;
      padding: 14px 28px;
      font-family: 'Poppins', serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 13px;
      color: #FFFFFF;
      cursor: pointer;

      @include tablet {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 32px;
      }

      @include desktop {
        font-size: 18px;
        line-height: 27px;
      }
    }

  }

  &__img {
    display: block;
    width: 237px;
    height: 232px;

    @include tablet {
      width: 255px;
      height: 250px;
    }

    @include desktop {
      width: 333px;
      height: 327px;
    }
  }
}
