@import '/src/variable.scss';
@import '/src/mixins.scss';

.landing {

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    @include tablet {
      flex-direction: row;
      column-gap: 52px;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    @include tablet {
      align-items: flex-start;
    }

  }

  &__title {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #2F3567;

    @include tablet {
      font-size: 32px;
      text-align: left;
    }
    @include desktop {
      font-size: 36px;
    }
  }

  &__desc {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: rgba(39, 39, 39, 0.9);

    @include tablet {
      font-size: 14px;
      text-align: left;
    }
    @include desktop {
      font-size: 16px;

    }
  }

  &__image {
    display: block;
    width: 237px;
    height: 228px;
    @include tablet {
      width: 259px;
      height: 250px;
    }
    @include desktop {
      width: 307px;
      height: 296px;
    }
  }


}