@import '/src/variable.scss';

@mixin tablet {
  @media (min-width: $tablet-min) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desk-min) {
    @content;
  }
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}
@mixin flexRow {
  display: flex;
  align-items: center;
}

@mixin bckgrndImg {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@mixin fontParams($fontSize, $lineHeight, $fontWeight:400, $color: $title_color ) {
  font-family: 'Poppins', serif;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $color;
}





