/*----------Mob--------*/
$padY: 12px;
$padX: 16px;
$gutter_row: 24px;
$gutter_col: 12px;
$btn_primary: #FF6F3F;
$btn_secondary: #FFD9CC;
$head_color: #2F3567;
$title_color: #272727;
$white:  #fff;
$secondary_color: #263238;

/*----------Tab--------*/
$tablet-min: 764px;


/*----------Desk--------*/
$desk-min: 992px;

