<div class="register">
  <h4 class="register__title">Register Now</h4>
  <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__form">
    <div class="register__prsnl">
      <h4 class="register__prsnl-title">Personal Details</h4>
      <div class="register__prsnl__info">
        <div class="register__prsnl__content">
          <div class="register__prsnl__details register__prsnl__details-fname">
            <label for="fname" class="register__prsnl__details__label">
              <input type="text" class="register__prsnl__details__input" id="fname" placeholder="First name *" size="8"
                formControlName="firstname" (keypress)="onlyAlphabets($event)">
              <div class="register__prsnl__details__alert"
                [ngClass]="{'register__prsnl__details__alert-active': registerForm.invalid}"></div>
            </label>
          </div>
          <div class="register__prsnl__details register__prsnl__details-fname">
            <label for="lname" class="register__prsnl__details__label">
              <input type="text" class="register__prsnl__details__input" id="lname" placeholder="Last name *" size="8"
                formControlName="lastname" (keypress)="onlyAlphabets($event)">
              <div class="register__prsnl__details__alert"
                [ngClass]="{'register__prsnl__details__alert-active': registerForm.invalid}"></div>
            </label>
          </div>
        </div>
        <div class="register__prsnl__mob">
          <label for="mob" class="register__prsnl__details__label register__prsnl__mob__label">
            <input type="text" class="register__prsnl__details__input register__prsnl__mob__input" id="mob"
          disabled [value]="phoneNumber">
            <div class="register__prsnl__details__alert"
              [ngClass]="{'register__prsnl__details__alert-active': registerForm.invalid}"></div>
          </label>
          <span class="register__prsnl__mob__static">+91</span>
        </div>
        <div class="register__prsnl__mob">
          <label for="email" class="register__prsnl__details__label register__prsnl__mob__label">
            <input type="email" class="register__prsnl__details__input register__prsnl__mob__input-email" id="email"
              placeholder="Email address (optional)" formControlName="email">
          </label>
        </div>
      </div>
    </div>
    <div class="register__prsnl">
      <h4 class="register__prsnl-title">Choose the role</h4>
      <div class="register__prsnl__info">
        <div class="register__prsnl__content">
          <div class="register__prsnl__details__radio register__prsnl__details-fname" *ngFor="let roletype of roletypes">
            <input type="radio" class="register__prsnl__details__radio__input" [id]="roletype" name="roletype"
              formControlName="roletype" [value]="roletype">
            <label [for]="roletype" class="register__prsnl__details__radio__label">{{roletype}}

            </label>
          </div>
        </div>

      </div>
    </div>
    <div class="register__prsnl">
      <h4 class="register__prsnl-title">Address</h4>
      <div class="register__prsnl__info">
        <div class="register__prsnl__mob">
          <label for="email" class="register__prsnl__details__label register__prsnl__mob__label">
            <input type="email" class="register__prsnl__details__input register__prsnl__mob__input-email" id="email"
              placeholder="State" formControlName="state" (keypress)="onlyAlphabets($event)">
            <div class="register__prsnl__details__alert"
              [ngClass]="{'register__prsnl__details__alert-active': registerForm.invalid}"></div>
          </label>
        </div>
        <div class="register__prsnl__mob">
          <label for="city" class="register__prsnl__details__label register__prsnl__mob__label">
            <input type="city" class="register__prsnl__details__input register__prsnl__mob__input-email" id="email"
              placeholder="City" formControlName="city" (keypress)="onlyAlphabets($event)">
            <div class="register__prsnl__details__alert"
              [ngClass]="{'register__prsnl__details__alert-active': registerForm.invalid}"></div>
          </label>

        </div>
        <div class="register__prsnl__mob">
          <label for="pincode" class="register__prsnl__details__label register__prsnl__mob__label">
            <input type="city" class="register__prsnl__details__input register__prsnl__mob__input-email" id="pincode"
              placeholder="Pincode" formControlName="pincode" maxlength="6" (keypress)="onlyNums($event)">
            <div class="register__prsnl__details__alert"
              [ngClass]="{'register__prsnl__details__alert-active': registerForm.invalid}"></div>
          </label>

        </div>

      </div>

    </div>

    <button class="register__otp-btn" [disabled]="registerForm.invalid"
      [ngClass]="{'register__otp-btn-active': registerForm.valid}">Submit</button>

  </form>
  <a routerLink="/" class="register__back">Back</a>
  <div class="modal" *ngIf="isModalActive">
    <button class="modal__cancel"></button>

    <div class="modal__info">
      <span class="modal__thanks"></span>
      <div class="modal__info__container">
        <h4 class="modal__info-title">Thanks for registering</h4>
        <p class="modal__info-desc">You have successfully been registered with us. Our team will reach out in 24 hours.</p>
      </div>
    </div>


  </div>

</div>